
<!-- As a heading -->
<div class="jumbotron">
  <h1 class="display-3">Welcome to Justin's Sword Store!</h1>
  <p class="lead">All kinds of swords for sale, accommodating many budgets and styles!</p>
  <hr class="my-4">
    <img width = "300px" src = "https://i.pinimg.com/736x/b2/57/96/b257967e73287e3bf614336b107b6361--dynamic-poses-figurative-language.jpg" />
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/products/new" role="button">Add a Sword!</a>
  </p>
</div>



<% @products.each do |product| %>
   <a href = "/products/<%= product.id %>"> <h2> <%= product.name %> </h2> </a>
   <img width = "200px" src = "<%= product.image %>"/>
   <h3> $<%= product.price %> </h3>
<% end %>
