<form>
  <div class="col-7">
    <label for="exampleFormControlInput1">Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Sword's Name">
  </div>
  <div class="col-7">
    <label for="exampleFormControlInput1">Image</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Paste Link to Image">
  </div>
  <div class="col-7">
    <label for="exampleFormControlInput1">Price</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Price">
  </div>
  <div class="col-7">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>